.button {
  display: inline-block;
  outline: none;
  height: auto;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  overflow: hidden;
  margin: 0 5px;
  font-family: Raleway;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: var(--button);
  }
  &__select {
    color: var(--black-2);
    font-family: Raleway;
    padding: 1rem;
    border: none;
    background-color: var(--bg-3);
    cursor: pointer;
  }

  &:hover {
    box-shadow: var(--button);
  }
}
.button--primary {
  background-color: var(--primaryGreen);
  color: var(--white);
}

.button--logout {
  background-color: var(--login-btn);
  text-transform: uppercase;
  color: var(--white);

  &:hover {
    box-shadow: var(--buton-logout);
    background-color: var(--login-btn-active);
  }
}
.button--secondary {
  background-color: var(--bg-3);
  color: var(--black-1);
}

.button--more {
  background-color: var(--yellow);
  color: var(--black-1);
  margin: 0 auto;
  display: block;
}

.button--danger_red {
  background-color: var(--remind-failed);
  color: var(--black-1);
  margin: 0 auto;
  display: block;

  &:hover {
    color: var(--bg-3);
    background-color: var(--red);
  }
}

.button--none {
  background-color: transparent;
  margin: 0;
  color: var(--black-1);
  &:hover {
    color: var(--black-2);
    background-color: var(--white-transparent);
  }
}
