.container {
  background-color: var(--black-2);
  padding: 10px 10px;
  height: 6rem;
}

.golang_img {
  transition: 0.2s ease;

  &::after {
    content: "";
    height: 120px;
    width: 120px;
    position: fixed;
    background-image: url("../../../public/images/pngwing-2.png");
    bottom: 2vh;
    right: 1vw;
    background-size: 120px 120px;
    background-repeat: no-repeat;
    transition: 0.2s ease;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  background-color: var(--bg-3);
  width: 3rem;
  height: 3rem;
  text-align: center;
  align-items: center;
  color: var(--black-2);
  font-weight: 900;
  font-size: 18px;
  line-height: 35px;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;
  transition: 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-2);
    color: var(--black);
  }
}

.buttons {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
}

button {
  text-transform: uppercase;
  outline: 0;
  background: var(--login-btn);
  border: 0;
  border-radius: 5px;
  padding: 15px 30px;
  color: var(--white);
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--gray-1);
}

.auth {
  display: flex;
  gap: 1rem;

  a {
    color: var(--gray-1);
    text-decoration: none;
    position: relative;
  }

  a::after {
    display: block;
    content: "";
    height: 1px;
    border-radius: 50px;
    width: 120%;
    position: absolute;
    left: -8%;
    bottom: 0;
    background-color: transparent;
    transition: 0.5s ease;
  }

  a:hover {
    color: var(--white);
    transition: 0.2s ease;

    &::after {
      display: block;
      content: "";
      height: 2px;
      border-radius: 50px;
      width: 120%;
      position: absolute;
      left: -8%;
      bottom: -5px;
      background-color: var(--bg-2);
    }
  }
}

.configIcon{
 font-size: 2.5rem;
 border: 1px solid #0000;
 cursor: pointer;
 transition: all 0.3s ease 0s;
 &:hover{
  color: var(--gray-1);
 };
}

.leftBar{
  display: flex;
  column-gap: 10px;
}


